# -----------------------
# node
# -----------------------
/node_modules
/bower_components

# -----------------------
# outputs
# -----------------------
/dist

# -----------------------
# IDEs and editors
# -----------------------
/.idea
/.vscode

# -----------------------
# misc
# -----------------------
/.sass-cache
npm-debug.log

# -----------------------
# system
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# map
# -----------------------
**/*.map
